<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h1>Lista de Categorias</h1></div>
                    
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Nueva Categoria
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva Categoria</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/categoria" method="post">
        <div class="modal-body">
          <label for="">Ingrese nombre</label>
          <input type="text" name="nombre" class="form-control">
          <label for="">Ingrese Detalle</label>
          <textarea name="detalle" class="form-control"></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Guardar Categoria</button>
        </div>
        </form>
      </div>
    </div>
  </div>


                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>DETALLE</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% datos.forEach(function(cat){ %>   
                            <tr>
                                <td><%- cat.id %></td>
                                <td><%- cat.nombre %></td>
                                <td><%- cat.detalle %></td>
                                <td>



                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<%- contentFor('menu') %>
<h2>Mi menú</h2>
<p> eesta linea es el menu</p>


<%- contentFor('c2') %>
<h1>Cont 2</h1>